# Virtual environment
venv/
.venv/
ENV/
env/
 
# Python cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Environment / secrets
.env
*.env
.env.*

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# macOS system files
.DS_Store

# Logs
*.log

# Pytest / Coverage reports
.coverage
htmlcov/
.pytest_cache/

# specific files
tool3.py 
tool2.py 
tool.ipynb 
checkvectordb.py 
frontend.py 
fronty.py 
playlist.json