langgraph
langchain
langchain-openai
python-dotenv
gradio
psycopg2-binary
langsmith
openai
selenium
langchain-community
youtube_search
google-api-python-client
webdriver-manager
selenium
youtube-search-python
faiss-cpu
sentence-transformers